p {
  text-align: center;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  margin: 50px auto;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 10px;
    display: block;
  }

  .content {
    font-size: 14px; /* Smaller font for mobile */
    margin: 0 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 15px;
    display: block;
  }

  .content {
    font-size: 16px;
    margin: 0 10px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 20px;
    display: flex;
  }

  .content {
    font-size: 18px;
    margin: 0 20px;
  }
}

